*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #d46306; /* Cor primária */
  --secondary-color: #fceedd; /* Cor secundária */
  --accent-color: #a0522d; /* Cor de destaque */
  --text-color: #555; /* Cor do texto */

  --background-color-dark: #121212; /* Cor de fundo escuro */
  --text-color-dark: #e0e0e0; /* Cor do texto escuro */
  --secondary-color-dark: #1e1e1e; /* Cor secundária escura */
  --primary-color-dark: #bb86fc; /* Cor primária escura */
  --accent-color-dark: #03dac6; /* Cor de destaque escura */
}

/* Fonte padrão, cor do texto e cor de fundo */
body {
  font-family: 'Playfair Display', sans-serif; 
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--secondary-color); /* Cor de fundo */
  color: var(--primary-color); /* Cor do texto */
  text-align: justify; /* Justifica o texto */
  padding: 0; /* Remove o preenchimento */
}

header img {
  width: 125px; /* Largura da imagem */
  height: 125px; /* Altura */
  border-radius: 50%; /* Borda arredondada */
  display: block; /* Exibe como bloco */
  margin: 0 auto; /* Centraliza horizontalmente */
}



nav ul {
  list-style: none; /* Remove bolinhas */
  display: flex;    /* Coloca os itens lado a lado */
  padding: 0;       /* Remove espaçamento interno */
  margin: 0;        /* Remove espaçamento externo */
}

nav li {
  margin-right: 10px; /* Espaço entre os botões */
}


header nav {
  display:flex;
  flex-wrap: wrap; /* Permite quebra de linha */
  justify-content: center; /* Centraliza os links */
}

button {
  all: unset;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Mantém espaçamento entre os itens */
  gap: 20px; /* Espaço entre os itens */
  align-items: stretch;
}

.card > * {
  flex: 1; /* Ocupa espaço igual */
}


nav a, button {
  display: inline-block; /* Exibe como bloco */
  padding: 10px 20px;
  background-color: var(--secondary-color); /* Cor de fundo dos links */
  color: var(--primary-color); /* Cor do texto dos links */
  text-decoration: none; /* remove o sublinhado */
  border-radius: 5px;   /* Borda arredondada */
  margin-right: 10px; /* espaço entre os botões */
  transition: background-color 0.3s ease;
  margin-top: 10px;
}


nav a:hover, button:hover {
  background-color: var(--primary-color); /* tom mais escuro no hover */
}

aside a {
  margin: 0 8px;
  position: relative;
  text-decoration: underline;
  color: var(--secondary-color); 
  transition: color 0.3s ease;
}

aside{
  display: flex;
  flex-direction: column; /* Organiza os links em coluna */
  align-items: center; /* Centraliza os links */
  padding: 20px;
  background-color:   var(--primary-color); /* Cor de fundo do aside */
}

a:hover {
  color: var(--text-color); /* muda cor quando o mouse passa por cima */
}

.container {
  max-width: 1200px;       /* Largura máxima */
  margin: 0 auto;          /* Centraliza horizontalmente */           
}

.container img {
  display: block;
  margin: 0 auto;
}


.container h2 {
  font-size: 25px;
  margin-bottom: 20px
}


.container h3 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

article a {
  display: inline-block; /* Exibe como bloco */
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 4px; /* Borda arredondada */
  text-decoration: none;
  margin-top: 10px;
}

article a:hover { /*efeito quando o mouse estiver em cima*/
  background-color: var(--accent-color);
}


.container ul,
.container ol {
  font-size: 20px;
  line-height: 1;
}

article {
  margin-bottom: 30px; /* Espaçamento */
  border: 2px solid var(--primary-color); /* Borda */
  border-radius: 8px; /* Borda arredondada */
  padding: 10px 20px; /* Espaçamento interno */
  text-align: center;
  
}

article p {
  text-align: justify; /* Justifica o texto */
}


input:focus, textarea:focus, select:focus {
  border: 1px solid #d2691e;
  box-shadow: 0 0 5px rgba(210, 105, 30, 0.5);
  outline: none; /* remove a borda azul padrão do navegador */
}

.card article {
  flex: 1; 
}

.card img {
  max-width: 100%;
  height: auto;
}

#rodape {
  text-align: center;
}


aside h2{
  color: #fceedd;
}



@media (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 1fr 4fr; /* duas colunas */
    grid-template-areas: 
      "header header"
      "aside main"
      "footer footer";
  } 
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
    padding: 20px;
  } 
  aside {
    grid-area: aside;
    padding: 20px;
  }
  footer {
    grid-area: footer;
    padding: 10px 0; /* Preenchimento interno */
  }
  
  .card {
  display: flex;
  flex-direction: row; /* Organiza os filhos em linha */
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: stretch; /* Faz os filhos esticarem igualmente */
}

.card article {
  flex: 1 1 300px;
  max-width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
}

@media(prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }

  nav a, button {
    background-color: var(--secondary-color-dark);
    color: var(--primary-color-dark);
  }

  aside {
    background-color: var(--primary-color-dark);
  }

  article {
    background-color: var(--secondary-color-dark);
  }

  input:focus, textarea:focus, select:focus {
    border: 1px solid var(--accent-color-dark);
    box-shadow: 0 0 5px rgba(210, 105, 30, 0.5);
  }
}