*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Fonte padrão, cor do texto e cor de fundo */
body {
  font-family: 'Playfair Display', sans-serif; 
  font-size: 16px;
  line-height: 1.6;
  background-color: #fceedd;
  color: #d46306;
  text-align: justify; /* Justifica o texto */
  padding: 0; /* Remove o preenchimento */
}

header img {
  width: 125px; /* Largura da imagem */
  height: 125px; /* Altura */
  border-radius: 50%; /* Borda arredondada */
}


header {
  display: flex;
  justify-content: space-between; /* Espaço entre os itens */
  align-items: center; /* Alinha verticalmente */
  background-color: #d46306; /* Cor de fundo do cabeçalho */
  color: #fceedd; /* Cor do texto do cabeçalho */
  padding: 10px 50px; /* Preenchimento interno */
  flex-wrap: wrap; /* Permite quebra de linha */
}

nav ul {
  list-style: none; /* Remove bolinhas */
  display: flex;    /* Coloca os itens lado a lado */
  padding: 0;       /* Remove espaçamento interno */
  margin: 0;        /* Remove espaçamento externo */
}

nav li {
  margin-right: 10px; /* Espaço entre os botões */
}


header nav {
  display:flex;
  flex-wrap: wrap; /* Permite quebra de linha */
  justify-content: center; /* Centraliza os links */
}

button {
  all: unset;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Mantém espaçamento entre os itens */
  gap: 20px; /* Espaço entre os itens */
}

.card > * {
  flex: 1; /* Ocupa espaço igual */
}


nav a, button {
  display: inline-block; /* Exibe como bloco */
  padding: 10px 20px;
  background-color: #fceedd; /* Cor de fundo dos links */
  color: #d46306; /* Cor do texto dos links */
  text-decoration: none; /* remove o sublinhado */
  border-radius: 5px;   /* Borda arredondada */
  margin-right: 10px; /* espaço entre os botões */
  transition: background-color 0.3s ease;
  margin-top: 10px;
}


nav a:hover, button:hover {
  background-color: #a0522d; /* tom mais escuro no hover */
}

aside a {
  margin: 0 8px;
  position: relative;
  text-decoration: underline;
  color: #fceedd; 
  transition: color 0.3s ease;
}

aside{
  display: flex;
  flex-direction: column; /* Organiza os links em coluna */
  align-items: center; /* Centraliza os links */
  padding: 20px;
  background-color: #d46306; /* Cor de fundo do aside */
}

a:hover {
  color: #555; /* muda cor quando o mouse passa por cima */
}

.container {
  max-width: 1200px;       /* Largura máxima */
  margin: 0 auto;          /* Centraliza horizontalmente */           
}

.container img {
  display: block;
  margin: 0 auto;
}


.container h2 {
  font-size: 25px;
  margin-bottom: 20px
}


.container h3 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

article a {
  display: inline-block; /* Exibe como bloco */
  padding: 10px 20px;
  background-color: #d2691e;
  color: white;
  border-radius: 4px; /* Borda arredondada */
  text-decoration: none;
  margin-top: 10px;
}

article a:hover { /*efeito quando o mouse estiver em cima*/
  background-color: #a0522d;
}


.container ul,
.container ol {
  font-size: 20px;
  line-height: 1;
}

article {
  margin-bottom: 30px; /* Espaçamento */
  border: 2px solid #d46306; /* Borda */
  border-radius: 8px; /* Borda arredondada */
  padding: 10px 20px; /* Espaçamento interno */
  text-align: center;
  
}

article p {
  text-align: justify; /* Justifica o texto */
}


input:focus, textarea:focus, select:focus {
  border: 1px solid #d2691e;
  box-shadow: 0 0 5px rgba(210, 105, 30, 0.5);
  outline: none; /* remove a borda azul padrão do navegador */
}


#rodape {
  text-align: center;
}

body{
  display:grid;
  grid-template-columns: 1fr 4fr; /* duas colunas, a primeira com o dobro da largura da segunda */
  grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
}

aside h2{
  color: #fceedd;
}

header {
  grid-area: header;
}
main {
  grid-area: main;
  padding: 20px;
} 
aside {
  grid-area: aside;
  padding: 20px;
}

footer {
  grid-area: footer;
  padding: 10px 0; /* Preenchimento interno */
}
